body {
    margin: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.white-container{
    background-color: white;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

.game-over {
    object-fit: cover;
    z-index: 2;
    animation: zoomIn 225ms ease-in-out;
    width: 100%;
}

.draw{
    border: 2px solid rgba(0, 0, 0, 0.5);
    font-size: 100px;
    margin-bottom: 22px;
    margin-top: 20px;
    background-color: rgba(253, 205, 7, 255);
    z-index: 5;
    border-radius: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.game-over-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
}

.restart-btn {
    border: 2px solid rgba(0, 0, 0, 0.5);
    z-index: 5;
    background-color: rgba(253, 205, 7, 255);
    font-size: 50px;
    width: 430px;
    height: 80px;
    animation: zoomIn 225ms ease-in-out;
    cursor: pointer;
    border-radius: 20px;
}

.restart-btn:hover {
    background-color:  rgb(255 227 111);
    z-index: 5;
    cursor: pointer;
}

.horizontal-line {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 350px;
    position: absolute;
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
    z-index: 1;
}

.make-vertical {
    transform: rotate(90deg) scaleX(0.0);
}

.spin-45deg {
    transform: rotate(45deg);
}

.spin-negative-45deg {
    transform: rotate(135deg);
}

.player-inactive {
    opacity: 0.5;
}

.player-panel {
    display: flex;
    font-size: 32px;
    align-items: center;
    margin-right: 12px;
    margin-bottom: 32px;
    margin-top: 50px;
}

.player-panel div {
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
}

.player-panel img {
    width: 60px;
    height: 60px;
    margin-right: 16px;
}


.table-lines {
    position: relative;
}

tr {
    width: 399px;
}

td {
    width: 133px;
    height: 133px;
    border: 5px;
    position: relative;
    cursor: pointer;
}

td:hover {
    background-color: rgba(238, 203, 8, 0.2);
}

table td {
    border: 5px solid black;
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

table {
    border-collapse: collapse;
}

.shape {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 26px;
    left: 26px;
}

.d-none {
    display: none;
}


@media(max-width: 630px){
    .draw{
        font-size: 72px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


@media(max-width: 480px) {

    .player-panel {
        font-size: 25px;
    }

    td {
        width: 100px;
        height: 100px;
    }

    .shape {
        width: 60px;
        height: 60px;
        top: 20px;
        left: 20px;
    }

    .draw{
        font-size: 65px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .restart-btn {
        width: 380px;
    }

    .mobile-line-0 {
        top: 48px !important;
        left: -18px !important;
        height: 5px !important;
    }

    .mobile-line-1 {
        top: 155px !important;
        left: -19px !important;
        height: 5px;
    }

    .mobile-line-2 {
        top: 262px !important;
        left: -18px !important;
        height: 5px;
    }

    .mobile-line-3 {
        top: 156px !important;
        right: 91px !important;
        height: 5px;
    }

    .mobile-line-4 {
        top: 156px !important;
        right: -16px !important;
        height: 5px;
    }

    .mobile-line-5 {
        top: 156px !important;
        right: -124px !important;
        height: 5px;
    }

    .mobile-line-6 {
        top: 158px !important;
        right: -22px !important;
        height: 5px;
    }

    .mobile-line-7 {
        top: 154px !important;
        left: -19px !important;
        height: 5px;
    }
}


@media(max-width: 450px) {
    .restart-btn {
        width: 330px;
        height: 110px;
    }
    
    .draw{
        font-size: 55px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}